<div class="register-container">
    <header>
      <div class="logo">EventSphere</div>
      <a class="events-link" routerLink="/events">Events</a>
    </header>
    <div class="form-container" @fadeIn>
      <h2>Sign Up for EventSphere</h2>
      <p class="signup-link">Already have an account? <a routerLink="/login">Log In</a></p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">Username is required</mat-error>
          <mat-error *ngIf="registerForm.get('username')?.hasError('minlength')">Username must be at least 3 characters</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Invalid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required>
          <mat-icon matSuffix (click)="togglePasswordVisibility('password')" class="password-toggle">
            {{ showPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters</mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
            Password must contain at least 1 uppercase, 1 numeric and 1 special character
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" required>
          <mat-icon matSuffix (click)="togglePasswordVisibility('confirmPassword')" class="password-toggle">
            {{ showConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirmation is required</mat-error>
          <mat-error *ngIf="registerForm.get('confirmPassword')">Passwords do not match</mat-error>
        </mat-form-field>
        <a class="forgot-password" routerLink="/forgot-password">Forgot password?</a>
        <button mat-raised-button type="submit" [disabled]="registerForm.invalid" class="register-button">Sign Up</button>
      </form>
    </div>
  </div>